// Config that specifies docker/singularity files for each process

process {

    withName: 'FASTQC' {
        container = "quay.io/biocontainers/fastqc:0.11.9--hdfd78af_1"
    }

    // withName: 'MULTIQC' {
    //     container = "quay.io/j_81/gl_multiqc:gl_multiqc"
    // }

    // withName: 'TO_PRED' {
    //     container = "quay.io/biocontainers/ucsc-gtftogenepred:377--ha8a8165_5"
    // }
    
    // withName: 'TO_BED' {
    //     container = "quay.io/biocontainers/ucsc-genepredtobed:377--ha8a8165_5"
    // }

    // withName: 'TRIMGALORE' {
    //     container = "quay.io/biocontainers/trim-galore:0.6.7--hdfd78af_0"
    // }

    // withName: 'GENERATE_METASHEET' {
    //     container = "quay.io/j_81/gl_images:genelab_utils_v1.0"
    // }
    
}
